# Symfony-specific ignores
/config/services_test.yaml
/public/bundles/
/var/
/vendor/

# Composer
.env.local
.env.local.php
.env.*.php
!.env.dist

# Git
.git/

# PHPStorm
.phpstorm.meta.php
.project

# Miscellaneous
/.php_cs.cache
/.php-cs-fixer.cache
/.phpstan/
/.travis.yml
/build/
/coverage/
/phpcs.xml
/phpmd.xml
/phpunit.xml
/rector.php
/vendor-bin/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
