parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    tmpDir: var/cache/phpstan
    ignoreErrors:
        - '#Property .* is never assigned .* so it can be removed from the property type\.#'
