security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\User:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        
        login:
            pattern: ^/api/auth/login
            stateless: true
            security: false
        
        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~

        main:
            lazy: true
            provider: app_user_provider

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/api/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/users$, roles: PUBLIC_ACCESS, methods: [POST] }
        - { path: ^/api/categories, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/games$, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/games/\d+/rulesets$, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/games/\d+/categories$, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/games/\d+/categories/\d+/vote, roles: ROLE_USER, methods: [POST, DELETE] }
        - { path: ^/api/user/.*/(obs-preferences|play-screen|timer), roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/play/.*/preferences, roles: PUBLIC_ACCESS }
        - { path: ^/api/play/, roles: PUBLIC_ACCESS }
        - { path: ^/api/users/me/playthrough/active, roles: ROLE_USER }
        - { path: ^/api/users/me, roles: ROLE_USER }
        - { path: ^/api, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
